#body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
}

abbr {
  text-decoration: none;
}

#div {
  border: 1px solid;
  height: 600px;
  width: 900px;
  margin: auto auto;
  box-sizing: border-box;
  position: relative;
  cursor: crosshair;
}

#info {
  border: 1px solid;
}

h1 {
  margin: 5px;
  text-align: center;
}

h2 {
  margin: 10px;
}

#flex {
  display: flex;
}


.score {
  width: 100%;
}

.accuracy {
  width: 100%;
  text-align: right;
}


#btn {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  cursor: crosshair;
}

#dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

abbr {
  cursor: default;
}

#gameOver {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  min-width: 45%;
  margin: auto;
}

.list tr {
  font-size: 40px;
}

.name {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.over {
  font-size: 50px;
  margin: 50px;
}

.Score {
  /* border: 1px solid; */
  display: inline-block;
  width: 10%;
  text-align: right;
  margin: 0 5px;
}